/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    combos {
        compatible = "zmk,combos";

        right_shift {
            bindings = <&kp RIGHT_SHIFT>;
            key-positions = <39 19>;
        };

        left_shift {
            bindings = <&kp LEFT_SHIFT>;
            key-positions = <38 16>;
        };

        left_enter {
            bindings = <&kp RETURN>;
            key-positions = <38 17>;
        };

        right_enter {
            bindings = <&kp RETURN>;
            key-positions = <39 18>;
        };

        enter_mouse_layer {
            bindings = <&tog 4>;
            key-positions = <13 22>;
        };
    };

    macros {
        copy: copy {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LG(C)>;
            label = "COPY";
        };

        paste: paste {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LG(V)>;
            label = "PASTE";
        };

        cut: cut {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LG(X)>;
            label = "CUT";
        };

        window_switch: window_switch {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LG(GRAVE)>;
            label = "WINDOW_SWITCH";
        };

        full_screen: full_screen {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_CONTROL &kp LEFT_GUI>,
                <&macro_tap>,
                <&kp F>,
                <&macro_release>,
                <&kp LEFT_CONTROL &kp LEFT_GUI>;

            label = "FULL_SCREEN";
        };

        split_left: split_left {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LC(LEFT_GUI)>,
                <&macro_tap>,
                <&kp LEFT>,
                <&macro_release>,
                <&kp LC(LEFT_GUI)>;

            label = "SPLIT_LEFT";
        };

        split_right: split_right {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LC(LEFT_GUI)>,
                <&macro_tap>,
                <&kp RIGHT>,
                <&macro_release>,
                <&kp LC(LEFT_GUI)>;

            label = "SPLIT_RIGHT";
        };

        split_down: split_down {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LC(LEFT_GUI)>,
                <&macro_tap>,
                <&kp DOWN>,
                <&macro_release>,
                <&kp LC(LEFT_GUI)>;

            label = "SPLIT_DOWN";
        };

        split_up: split_up {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LC(LEFT_GUI)>,
                <&macro_tap>,
                <&kp UP_ARROW>,
                <&macro_release>,
                <&kp LC(LEFT_GUI)>;

            label = "SPLIT_UP";
        };
    };

    behaviors {
        copy_paste: copy_paste {
            compatible = "zmk,behavior-tap-dance";
            label = "COPY_PASTE";
            #binding-cells = <0>;
            bindings = <&copy>, <&paste>;
        };

        num_f: num_f {
            compatible = "zmk,behavior-hold-tap";
            label = "NUM_F";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
        };

        parenthesis_pair: parenthesis_pair {
            compatible = "zmk,behavior-tap-dance";
            label = "PARENTHESIS_PAIR";
            #binding-cells = <0>;
            bindings = <&kp LEFT_PARENTHESIS>, <&kp RIGHT_PARENTHESIS>;
        };

        bracket_pair: bracket_pair {
            compatible = "zmk,behavior-tap-dance";
            label = "BRACKET_PAIR";
            #binding-cells = <0>;
            bindings = <&kp LEFT_BRACKET>, <&kp RIGHT_BRACKET>;
        };

        plus_equal_pair: plus_equal_pair {
            compatible = "zmk,behavior-tap-dance";
            label = "PLUS_EQUAL_PAIR";
            #binding-cells = <0>;
            bindings = <&kp EQUAL>, <&kp PLUS>;
        };

        dash_under_pair: dash_under_pair {
            compatible = "zmk,behavior-tap-dance";
            label = "DASH_UNDER_PAIR";
            #binding-cells = <0>;
            bindings = <&kp MINUS>, <&kp UNDERSCORE>;
        };

        curly_pair: curly_pair {
            compatible = "zmk,behavior-tap-dance";
            label = "CURLY_PAIR";
            #binding-cells = <0>;
            bindings = <&kp LEFT_BRACE>, <&kp RIGHT_BRACE>;
        };

        let_num: let_num {
            compatible = "zmk,behavior-hold-tap";
            label = "LET_NUM";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        qwerty {
            display-name = "qwerty";
            bindings = <
&none  &let_num NUMBER_1 Q  &let_num NUMBER_2 W  &let_num NUMBER_3 E  &let_num NUMBER_4 R  &let_num N5 T    &let_num NUMBER_6 Y  &let_num N7 U  &let_num N8 I  &let_num N9 O  &let_num N0 P  &none
&none  &lt 2 A              &kp S                &kp D                &kp F                &kp G            &kp H                &kp J          &kp K          &kp L          &lt 3 SEMI     &none
&none  &kp Z                &kp X                &kp C                &kp V                &kp B            &kp N                &kp M          &kp COMMA      &kp DOT        &kp FSLH       &none
                                                 &kp LEFT_CONTROL     &kp LEFT_GUI         &mo 1            &kp SPACE            &kp RIGHT_ALT  &kp TAB
            >;
        };

        nums {
            display-name = "nums";
            bindings = <
&none  &none     &kp BACKSPACE     &kp TAB           &kp ESCAPE      &kp DEL      &kp GRAVE      &num_f F7 NUMBER_7   &num_f F8 NUMBER_8  &num_f F9 NUMBER_9  &none                 &none
&none  &kp CAPS  &kp LEFT_CONTROL  &kp LEFT_ALT      &kp LEFT_SHIFT  &kp ENTER    &kp F11        &num_f F4 NUMBER_4   &num_f F5 NUMBER_5  &num_f F6 NUMBER_6  &kp SINGLE_QUOTE      &none
&none  &none     &none             &none             &none           &none        &kp F12        &num_f F1 NUMBER_1   &num_f F2 NUMBER_2  &num_f F3 NUMBER_3  &kp NON_US_BACKSLASH  &none
                                   &kp LEFT_CONTROL  &kp LEFT_GUI    &none        &kp BACKSPACE  &num_f F10 NUMBER_0  &kp TAB
            >;
        };

        arrows {
            display-name = "arrows";
            bindings = <
&none  &none  &none             &none             &none         &none             &window_switch  &full_screen   &kp H         &none         &none  &none
&none  &none  &kp LEFT_CONTROL  &kp LEFT_ALT      &kp LEFT_GUI  &kp LEFT_SHIFT    &kp LEFT        &kp DOWN       &kp UP_ARROW  &kp RIGHT     &none  &none
&none  &none  &none             &none             &none         &none             &split_left     &split_down    &split_up     &split_right  &none  &none
                                &kp LEFT_CONTROL  &kp LEFT_GUI  &none             &kp SPACE       &kp RIGHT_ALT  &kp TAB
            >;
        };

        pairs {
            bindings = <
&none  &none  &none              &none             &none             &none            &none       &kp C_BRIGHTNESS_DEC  &kp C_BRIGHTNESS_INC  &none  &none  &none
&none  &none  &parenthesis_pair  &dash_under_pair  &plus_equal_pair  &bracket_pair    &kp K_MUTE  &kp C_VOL_DN          &kp C_VOLUME_UP       &none  &none  &none
&none  &none  &none              &none             &curly_pair       &none            &none       &none                 &none                 &none  &none  &none
                                 &kp LEFT_CONTROL  &kp LEFT_GUI      &kp BACKSPACE    &kp SPACE   &kp RIGHT_ALT         &kp TAB
            >;

            label = "pairs";
        };

        mouse {
            bindings = <
&none  &none  &none  &mkp MB4          &mkp MB5      &cut             &msc SCRL_LEFT  &msc SCRL_DOWN  &msc SCRL_UP  &msc SCRL_RIGHT  &none  &none
&none  &none  &none  &mkp LCLK         &mkp RCLK     &copy_paste      &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_UP  &mmv MOVE_RIGHT  &none  &none
&none  &none  &none  &none             &none         &none            &none           &none           &none         &none            &none  &none
                     &kp LEFT_CONTROL  &kp LEFT_GUI  &kp BACKSPACE    &kp SPACE       &kp RIGHT_ALT   &kp TAB
            >;

            label = "mouse";
        };
    };
};
