/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        right_shift {
            bindings = <&kp RIGHT_SHIFT>;
            key-positions = <39 19>;
        };

        left_shift {
            bindings = <&kp LEFT_SHIFT>;
            key-positions = <38 16>;
        };

        toggle_arrow_layer {
            bindings = <&mo 2>;
            key-positions = <38 13>;
        };
    };

    macros {
        split_screen_left: split_screen_left {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LEFT_ALT &kp LEFT_GUI &kp J>, <&macro_press>;

            label = "SPLIT_SCREEN_LEFT";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        qwerty {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            display-name = "Base";
            bindings = <
&none  &kp Q  &kp W  &kp E  &kp R  &kp T    &kp Y      &kp U  &kp I      &kp O    &kp P     &none
&none  &kp A  &kp S  &kp D  &kp F  &kp G    &kp H      &kp J  &kp K      &kp L    &kp SEMI  &none
&none  &kp Z  &kp X  &kp C  &kp V  &kp B    &kp N      &kp M  &kp COMMA  &kp DOT  &kp FSLH  &none
                     &none  &none  &mo 1    &kp SPACE  &none  &none
            >;
        };

        num_mod {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            display-name = "Lower";
            bindings = <
&none  &none         &none         &kp TAB           &kp ESCAPE      &kp DEL      &kp GRAVE      &mt F7 NUMBER_7  &mt F8 NUMBER_8  &mt F9 NUMBER_9  &none                 &none
&none  &kp CAPS      &kp LEFT_ALT  &kp LEFT_CONTROL  &kp LEFT_SHIFT  &kp ENTER    &none          &mt F4 NUMBER_4  &mt F5 N5        &mt F6 NUMBER_6  &kp SINGLE_QUOTE      &none
&none  &kp LEFT_GUI  &none         &none             &none           &none        &none          &mt F1 NUMBER_1  &mt F2 NUMBER_2  &mt F3 NUMBER_3  &kp NON_US_BACKSLASH  &none
                                   &none             &none           &none        &kp BACKSPACE  &none            &kp NUMBER_0
            >;
        };

        arrows {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            display-name = "Raise";
            bindings = <
&none  &none  &none             &none         &none         &none    &none     &split_screen_left  &none         &none      &none  &none
&none  &none  &kp LEFT_CONTROL  &kp LEFT_ALT  &kp LEFT_GUI  &none    &kp LEFT  &kp DOWN            &kp UP_ARROW  &kp RIGHT  &none  &none
&none  &none  &none             &none         &none         &none    &none     &none               &none         &none      &none  &none
                                &none         &none         &none    &none     &none               &none
            >;
        };

        extra_1 { status = "reserved"; };

        extra_2 { status = "reserved"; };

        extra_3 { status = "reserved"; };
    };
};
